<h1 class="sr-only">Contact</h1>
<div class="contact">

  <div class="contact__map-container">
    <a href="https://goo.gl/maps/UyGpczdLPchQhBZA6" target="_blank">
      <img src={`${import.meta.env.PUBLIC_WP_URL}/wp-content/uploads/2022/08/map_v2.png`}>
    </a>
  </div>

  <div class="contact__info-container">
    <a class="contact__item" href="https://goo.gl/maps/UyGpczdLPchQhBZA6" target="_blank">
      <div class="col-1">
        <img src={`${import.meta.env.PUBLIC_WP_URL}/wp-content/themes/stuyck/images/icon-map-yellow.png`} class="icon" id="map-marker">
      </div>
      <address>2714 bee caves rd, suite 104, austin, tx 78746</address>
    </a>

    <a class="contact__item" href="tel://1-281-857-4438">
      <div class="col-1">
        <img src={`${import.meta.env.PUBLIC_WP_URL}/wp-content/themes/stuyck/images/icon-phone-rotary-yellow.png`} class="icon" id="phone">
      </div>
      <span>281.857.4438</span>
    </a>

    <a class="contact__item" href="mailto:dstuyck@gmail.com">
      <div class="col-1">
        <img src={`${import.meta.env.PUBLIC_WP_URL}/wp-content/themes/stuyck/images/icon-email-yellow.png`} class="icon" id="email" />
      </div>
      <span>dstuyck@gmail.com</span>
    </a>
  </div>

  <div class="contact__social-links-container">
    <ul class="contact__social-links-list">
      <li class="contact__social-links-list">
        <a href="http://vimeo.com/dstuyck" target="_blank"><img src={`${import.meta.env.PUBLIC_WP_URL}/wp-content/themes/stuyck/images/icon-vimeo.png`} class="icon" id="vimeo"></a>
      </li>
      <li class="contact__social-links-list">
        <a href="http://www.imdb.com/name/nm3491724/" target="_blank">
          <img src={`${import.meta.env.PUBLIC_WP_URL}/wp-content/themes/stuyck/images/icon-imdb.png`} class="icon" id="imdb" />
        </a>
      </li>
      <li class="contact__social-links-list">
        <a href="https://www.instagram.com/stuyckindustries/" target="_blank">
          <img src={`${import.meta.env.PUBLIC_WP_URL}/wp-content/themes/stuyck/images/icon-instagram-white.svg`} class="icon" id="instagram" />
        </a>
      </li>
    </ul>
  </div>
</div>